* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    border: 1px solid black;
    background-color: #d8d8d8;    
}

.main-fixed-header {
    max-width: 1024px;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    overflow: hidden;
    color: #093b18;
    border: 1px solid black;
    background-color: #d8d8d8;
}

.main-container {
    max-width: 1024px;
    margin: 100px auto 0;
    display: grid;
    grid-gap: 20px;
}

.section-large {
    height: 300px;
}

.section-small {
    height: 120px;
}

.special-footer {
    grid-column: 1 / -1;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: #d8d8d8;
}

.pretty-figure {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    background-color: #d8d8d8;
}

@media (min-width: 500px) {
    .main-container {
        grid-template-columns: repeat(6, 1fr);
    }

    .section-large {
        grid-column: span 3;
    }
    
    .section-small {
        grid-column: span 2;
    }
}