* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-fixed-header {
    max-width: 1024px;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    overflow: hidden;
    color: #093b18;
    border: 1px solid black;
    background-color: #d8d8d8;
}

.main-container {
    max-width: 1024px;
    width: 100%;
    margin: 100px auto 0;
    display: grid;
    grid-template: 300px 120px 200px / repeat(6, 1fr);
    grid-gap: 20px;
    grid-template-areas: 
        "section-1 section-1 section-1 section-2 section-2 section-2"
        "section-3 section-3 section-4 section-4 section-5 section-5";
}

.section-1 {
    grid-area: section-1;
    border: 1px solid black;
    background-color: #d8d8d8;
}

.section-2 {
    grid-area: section-2;
    border: 1px solid black;
    background-color: #d8d8d8;
}

.section-3 {
    grid-area: section-3;
    border: 1px solid black;
    background-color: #d8d8d8;
}

.section-4 {
    grid-area: section-4;
    border: 1px solid black;
    background-color: #d8d8d8;
}

.section-5 {
    grid-area: section-5;
    border: 1px solid black;
    background-color: #d8d8d8;
}

.special-footer {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: #d8d8d8;
}

.pretty-figure {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    background-color: #d8d8d8;
}

@media (max-width: 500px) {
    .main-container {
        grid-template: repeat(2, 300px) repeat(3, 120px) 200px / 100%;
        grid-template-areas: 
            "section-1"
            "section-2"
            "section-3"
            "section-4"
            "section-5";
    }
}